* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: var(--bg-col-1);

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-x: clip;
    overflow-y: auto;

    padding: calc(var(--header-height) + var(--body-vertical-padding)) var(--body-side-padding) 0;
}



@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 200 1000;
    font-display: swap;
    src: url("/fonts/nunito.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
    font-family: "Consolas";
    font-style: normal;
    font-weight: 200 1000;
    font-display: swap;
    src: url("/fonts/CONSOLA.TTF") format("truetype");
}





.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
