main {
    width: 70%;
    padding-bottom: var(--body-vertical-padding);
}

main .thick-line {
    width: 100%;
    height: var(--line-thickness);
    background: var(--line-col);
}
main .line {
    width: 100%;
    height: 1px;
    background: var(--line-col);
}


main .spacing {
    width: 100%;
    height: 8px;
}

/* text */
main h1,
main h2 {
    font-family: "Nunito", serif;
}
main h3,
main p,
main a {
    font-family: "Nunito", sans-serif;
}
main h1 {
    font-size: 38px;
    color: var(--txt-col-1);
}
main h2 {
    font-size: 27px;
    color: var(--txt-col-2);
}
main h3 {
    font-size: 23px;
    color: var(--txt-col-2);
}
main p {
    font-size: 18.5px;
    color: var(--txt-col-3);
}

main a {
    text-decoration: none;
    color: var(--link-col);
}
main a:visited {
    color: var(--link-col-visited);
}
main a:hover {
    text-decoration: underline;
    cursor: pointer;
}



main span.highlight-1,
main span.highlight-2,
main div.highlight-block-1,
main div.highlight-block-2 {
    display: inline-flex;

    height: fit-content;
    width: fit-content;
}
main div.highlight-block-1,
main div.highlight-block-2 {
    padding: 2px 8px;
    border-radius: 6px;
}

main span.highlight-1,
main div.highlight-block-1 {
    background: color-mix(in srgb, var(--col-1) 42%, black);
}
main span.highlight-2,
main div.highlight-block-2 {
    background: color-mix(in srgb, var(--col-2) 42%, black);
}

main span.highlight-1,
main div.highlight-block-1 * {
    color: var(--col-1);
}
main span.highlight-2,
main div.highlight-block-2 * {
    color: var(--col-2);
}
